
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 77% 96%;
    --foreground: 24 6% 10%;
    --card: 39 77% 96%;
    --card-foreground: 24 6% 10%;
    --popover: 39 77% 96%;
    --popover-foreground: 24 6% 10%;
    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 77% 90%;
    --secondary-foreground: 24 6% 10%;
    --muted: 39 77% 90%;
    --muted-foreground: 24 6% 40%;
    --accent: 140 35% 60%;
    --accent-foreground: 24 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 39 77% 85%;
    --input: 39 77% 85%;
    --ring: 24 95% 53%;
    --chart-1: 24 95% 53%;
    --chart-2: 140 50% 50%;
    --chart-3: 358 75% 59%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 24 6% 10%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 24 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 24 95% 53%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 24 6% 20%;
    --sidebar-ring: 24 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

    