@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 60 56% 91%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 60 56% 91%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 60 48% 85%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 48% 85%;
    --muted-foreground: 224 7.3% 45.1%;
    --accent: 56 29% 58%;
    --accent-foreground: 56 29% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 80%;
    --input: 60 30% 80%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 56 29% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: hsl(var(--muted) / 0.4);
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 120 25% 65%;
    --sidebar-primary-foreground: 120 25% 10%;
    --sidebar-accent: 60 48% 85%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 60 30% 80%;
    --sidebar-ring: 120 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
